---
// import Layouts
import PostCard from '../../Components/PostCard.astro';
import MainLayout from '../../Layout/MainLayout.astro';
import Main from '../../Components/Main.astro';

// import components
import Links from '../../Components/Links.astro';

// Importan information about the page
const MainTitle = 'Routines';

const PageDescription =
  'All the great routines summatized in this page. Go check them out!';

const image = '/hero-img/hero-exercises.png';
//

// const allPosts = await Astro.glob('./*.md'); 
// Import a single file
import * as myPost from './post-1.md';

---

<MainLayout title="Routines">
  <Main {MainTitle} {PageDescription} {image} />
  <!-- {allPosts.map((post) => <PostCard {post} />)} -->
  <section class="blog">
    <PostCard frontmatter={myPost.frontmatter} url={myPost.frontmatter.url} />
  </section>
</MainLayout>

<style>
  .blog{
    display: grid;
    grid-template-columns: 1fr;
    width: min(100%, 60em);
    margin-inline: auto;
  }

  @media (min-width: 40em) {
    .blog {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>