---
import PostCard from '../Components/PostCard.astro';
// import Layouts
import MainLayout from '../Layout/MainLayout.astro';
import ServiceSection from '../Components/ServiceSection.astro';
import Main from '../Components/Main.astro';

// Information about the currently page
const title = 'Working on something great!';

const MainTitle = 'Working on something great!';

const PageDescription =
  'A website created to showcase the amazing work that this great human beign has been done, trhough all this years. Leanna Deeb';

const image = '/hero-img/hero-img1.png';

const allPosts = await Astro.glob('./content/star-posts/*.md');
---

<MainLayout title={title}>
  <Main {MainTitle} {PageDescription} {image} />
  <!-- ===================================== -->
  <!--Aqui empieza el contenido de la pagina-->
  <!-- ===================================== -->
  <section class="intro">
    <h2 class="intro__h2">What was this site made for?</h2>
    <p class="intro__p">
      Have you ever had a burning <span class="intro__p intro__p--color">
        desire to make a vision come to life?
      </span>
    </p>
    <p class="intro__p">
      You want it so bad that you move with so much self belief that one day <span
        class="intro__p intro__p--color">it will actually happen</span
      >. No matter what, life will throw challenges your way, people will tell
      you your dream is not possible. You can either let people dictate your
      life or
      <span class="intro__p intro__p--color">
        you can move with intent every single day
      </span>until you make that dream your reality.
    </p>
    <!-- <p class="intro__p">
      With her amazing personality has shown thousand of people for all over the
      world, how <span class="intro__p intro__p--color">
        pushing ourselves
      </span>
      beyond any limits and really prepare
      <span class="intro__p intro__p--color">
        our minds for training strong all year long.
      </span>
    </p> -->
  </section>
  <ServiceSection sectionTitle="All the content right here... workouts">
    <!-- Content -->
    {
      allPosts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} />
      ))
    }
  </ServiceSection>
  <ServiceSection sectionTitle="Blog Posts">
    <!-- Content -->
    {
      allPosts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} />
      ))
    }
  </ServiceSection>
</MainLayout>

<style>
  .intro {
    background-color: hsla(239, 10%, 5%);
    color: hsl(0, 0%, 95%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 5%;
    border-radius: 1rem;
  }
  .intro__h2 {
    font-size: clamp(2rem, 1rem + 5vw, 3.2rem);
  }
  .intro__p {
    font-size: clamp(1.3rem, 1rem + 4vw, 1.9rem);
  }
  .intro__p--color {
    color: hsl(205, 90%, 69%);
    font-weight: 600;
  }
</style>
